* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    display: flex;
    width: 100%;
}

.left,
.right {
    width: 15%;
    background: #ddd;
    padding: 15px;
    text-align: center;
}

.content {
    width: 70%;
    padding: 20px;
}

.logo img {
    height: 60px;
    cursor: pointer;
}

nav {
    background: #222;
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: .3s;
}